<div>
	<form class="buscar_form form" name="form_Buscar" action="" method="post">
		<h3>Editar Actividad</h3>
		<fieldset>
			<legend>Selecione una Actividad</legend>
			<select id="actividad" class="list large" name="lstActivida">
				<option value="">Seleccionar</option>
			{% if actividades %}	
				{% for actividad in actividades %}
					<option value="{{actividad.id}}">{{actividad.tipo.nombre}} {{actividad.nombre}}</option>
				{% endfor %}
			{% endif %}
			</select>
		</fieldset>
	</form>
</div>
<div id="mostrar" class="none">
	<form id="mostrar_form" class="registrar_form form" name="form_Modificar_Actividad" action="" method="post">
		<fieldset>
			<legend>Características de la actividad</legend>
			<div>
				<label for="nombreActic">Nombre:</label>
				<input id="nombreActic" class="txt" type="text" name="txtNombre" value="" required>
			</div>
			<div>
				<label for="tipo">Tipo:</label>
				<select id="tipo" class="list" name="lstTipo" required disabled>
				{% for tipo_actividad in tipos %}
					<option value="{{tipo_actividad.id}}">{{tipo_actividad.nombre}}</option>
				{% endfor %}
				</select>
			</div>
			<div>
				<label for="nivel">Nivel:</label>
				<select id="nivel" class="list" name="lstNivel" required>
			{% for nivel_actividad in niveles %}
				<option value="{{nivel_actividad.id}}">{{nivel_actividad.nombre}}</option>
			{% endfor %}
				</select>
			</div>
		</fieldset>
		<div>
			<button class="boton-on" id="guardarActividad">Guardar</button>
		</div>
	</form>
</div>
{% block scripts_body %}
<script>
	var $actividad = $('select[name=lstActivida]'),
			$nombre = $('input[name=txtNombre]'),
			$tipo = $('select[name=lstTipo]'),
			$nivel = $('select[name=lstNivel]')

	$($actividad).on('change', buscarActividad)
	$('#guardarActividad').on('click', guardarActividad);

	function buscarActividad() {
		var $id = $(this).val()
		if (!$id) {
			$('#mostrar').addClass('none')
		}else{
			$.get('buscar-actividad/' + $id, mostrarDatos)
		}
	}

	function mostrarDatos(datos) {
		$nombre.val(datos.nombre)
		$tipo.val(datos.tipo)
		$nivel.val(datos.nivel)
		$('#mostrar').removeClass('none')
	}

	function guardarActividad(e) {
		e.preventDefault()
		if ($nombre.val() != '' && $tipo.val() != '' && $nivel.val() != '') {
			if (validarString('Nombre', $nombre.val())) {
				var datos = {
						id: $actividad.val(),
						nombre: $nombre.val(),
						tipo: $tipo.val(),
						nivel: $nivel.val()
				}
				$.post('guardar-actividad/', datos, function(data, textStatus, xhr){
					if (data.estado == 0) {
						alertify.error("¡Error al guardar los datos!")
					}else if (data.estado == 1){
						alertify.success("¡Actividad Editada!")
					}else if (data.estado == 2){
						alertify.error("¡Ya existe esta actividad!")
					}else if (data.estado == 3){
						alertify.log("¡No hubo modificación!")
					}
				})
			}
		}else {
			alertify.log("¡Seleccione y complete todos los campos!")
		}
	}
</script>
{% endblock scripts_body %}