<fieldset id="clase">
	<legend>Criterios</legend>
	<div class="block">
		<label class="block" for="clase">Clase:</label>
		<select id="clase "class="list  large" name="lstClase">
			<option value="">Seleccionar</option>
		{% for clase in clases %}
			<option value="{{clase.id}}">{{clase}}</option>
		{% endfor %}
		</select>
	</div>
	<div class="block center-text">
		<!--<div class="inline-block">
			<label class="block" for="nivel">Nivel:</label>
			<select id="nivel" class="list" name="lstNivel">
				<option value="todos">Todos</option>
				{% for nivel_i in niveles %}
				<option value="{{nivel_i.id}}">{{nivel_i.nombre}}</option>
				{% endfor %}
			</select>
		</div>-->
		<div class="inline-block">
			<label class="block" for="cedula">Cédula:</label>
			<select class="list" name="lstCedula" id="cedula">
				<option value="todos">Todos</option>
				<option value="0">Con cédula</option>
				<option value="1">Sin cédula</option>
			</select>
		</div>
		<div class="inline-block">
			<label class="block" for="estado">Estado:</label>
			<select class="list" name="lstEstado" id="estado">
				<option value="todos">Todos</option>
				<option value="1">Activo</option>
				<option value="0">Inactivo</option>
			</select>
		</div>
	</div>
	<div class="block center-text">
		<div class="inline-block">
			<label class="block" for="sexo">Sexo:</label>
			<select class="list" name="lstSexo" id="sexo">
				<option value="todos">Todos</option>
				<option value="F">Femenino</option>
				<option value="M">Masculino</option>
			</select>
		</div>
	</div>
	<div class="center-text">
		<button class="boton-on" id="mostrarReporteInstrumento">Mostrar</button>
	</div>
</fieldset>
<script>
	$('#mostrarReporteInstrumento').on('click',	function (e) {
			e.preventDefault()
			var $clase = $('select[name=lstClase]'),
					// $nivel = $('select[name=lstNivel]'),
					$cedula = $('select[name=lstCedula]'),
					$estado = $('select[name=lstEstado]'),
					$sexo = $('select[name=lstSexo]')
			if ($clase.val() != "" && $cedula.val() != "" && $estado.val() != "" && $sexo.val() != "") {
				var	datos = {
					clase: $clase.val(), 
					// nivel: $nivel.val(),
					cedula: $cedula.val(),
					estado: $estado.val(),
					sexo: $sexo.val()
				}
				nuevaPestana('mostrar-clase/', datos)
			}else {
				alertify.log("¡Seleccione una Clase!")
			}
		})
</script>