@import "nib"
@import "normalize.styl"
@import "fonts.styl"
@import "slider.styl"

vendor-prefixes = webkit o ms moz official

gris_oscuro = #333333
gris_claro = #E3E4E0
verde_claro = #BEDF30
verde_oscuro = #8FC543
// verde_oscuro = #94CC00
naranja = #EB7A2D
amarillo = #E9D340
amarillo_oscuro = #D6B330
marron_claro = #A47E36
marron_oscuro = #945A2B
azul_claro = #A3E3FF
azul_oscuro = #0088CB

a
	color gris_oscuro
	text-decoration none
aside
	display none
body
	color gris_oscuro
	font-size 16px
	font-family "Varela Round", sans-serif
figure
	margin 0
footer
	background black
	color white
	font-size .8em
	height 22px
	padding .5em 0 .8em 0
	text-align center
	div
		display inline-block
		vertical-align middle
		a
			padding 0
			color white
			font-size 2em
		&:last-child
			a
				padding 0 .2em
				&:first-child
					border-right 1px solid gris_claro
					padding-right .5em
				&:last-child
					border-left 1px solid gris_claro
					padding-left .5em
header
	background white
	border-bottom 2px solid gris_oscuro
	// margin 0 .5em .5em
	padding 0 .5em 0 .5em
	.pensamiento
		display none
html
	overflow hidden
img
	width 100%
.contenedor_principal
	background gris_claro
.button-menu
	cursor pointer
	background gris_oscuro
	border 1px solid gris_oscuro
	border-radius 5px
	color white
	font-size 2.2em
	padding .1em .1em .1em .22em
	position absolute
	right .45em
	top .55em
.interes
	display none
	background verde_oscuro
	// border-radius 15px
	// box-shadow 0 1px 4px rgba(0, 0, 0, 1)
	margin .6em 1em
	text-align center
	// width 90%
	span
		border-bottom 2px solid white
		display block
		margin 0 auto
		padding .3em 0 .3em 0
		width 90%
		&:last-child
			border-bottom none
			padding-bottom .4em
	a
		color gris_oscuro
		display inline-block
		font-weight bold
		text-align left
		text-transform uppercase
		vertical-align sub
		width 82%
	.info
		&:before
			background gris_oscuro
			border-radius 50px
			color white
			content "\e606"
			font-family "alcaldia"
			font-size 1.2em
			margin 0
			margin-right 8px
			padding 4px
			vertical-align middle
	.check
		&:before
			background gris_oscuro
			border-radius 50px
			color white
			content "\e601"
			font-family "alcaldia"
			margin-right 8px
			padding 6px
			vertical-align middle
	.star
		&:before
			background gris_oscuro
			border-radius 50px
			color white
			content "\e600"
			font-family "alcaldia"
			margin-right 8px
			padding 6px
			vertical-align middle
	.plus
		&:before
			background gris_oscuro
			border-radius 50px
			color white
			content "\e602"
			font-family "alcaldia"
			margin-right 8px
			padding 6px 8px
			vertical-align middle
.list
	list-style none
.logo_alcaldia
	margin 0
	padding-top .2em
	width 238px
.logo_alcaldia, .button-menu
	display inline-block
.menu
	background gris_oscuro
	border-radius .3em 0 .3em .3em
	display none
	float right
	position absolute
	right 16px
	text-align center
	top 59px
	transitionall .3s ease-out
	width 200px /* 179 */
	z-index 3
	ul
		padding .3em
		margin 0
		li
			display block
			a
				border-bottom 1px dotted white
				display block
				color white
				padding .5em 0
				text-transform uppercase
				&:hover
					background naranja
			&:last-child
				a
					border-bottom none
.noticias
	background #E3E4E0
	// padding .1em .5em .5em
	padding 0em .5em .5em
	.noticia_titulo
		font-size 15px
		font-weight 300
		margin 10px auto
		position relative
		text-align center
		text-transform uppercase
		.line
			border-bottom 1px solid gris_oscuro
			box-sizing border-box
			display block
			left 1px
			margin-bottom 10px
			position absolute
			right 1px
			top 10px
			z-index 1
		.text
			background gris_claro
			display inline-block
			zoom 1
			padding 0 15px
			position relative
			z-index 2
	.item_noticias
		background white
		margin-bottom 1em
		padding .5em
		.item_fecha
			margin 0
			font-size .7em
			text-align right
		.item_img
			border 1px solid marron_oscuro
			display inline-block
			width 90px
		.item_titulo
			color naranja
			display inline-block
			font-size 1.1em
			margin 0 .2em
			vertical-align top
			width 63%
		.item_contenido
			margin .5em 0
.right 
	float right
.relative
	position relative
.slide
	margin .5em
.visible
	display block

@media screen and (min-width: 640px)
	.interes
		padding 0
		a
			width 100%
			text-align center
		.info
			border-bottom none
			border-right 2px solid gris_claro
			display inline-block
			// margin 2% 0 0 0
			padding-right 2%
			width 18%
			&:before
				margin-right 0
		.check
			border-bottom none
			border-right 2px solid gris_claro
			display inline-block
			// margin 2% 0 0 0
			margin 1.2% 0 1.2% 0
			padding .5em 2.5% .3em 2%
			width 28%
			&:before
				margin-right 0
		.star
			border-bottom none
			border-right 2px solid gris_claro
			display inline-block
			// margin 2% 0 2% 0
			padding .5em 2.7% .3em 2%
			width 18%
			&:before
				margin-right 0
		.plus
			display inline-block
			// margin 2% 0 .5em 0
			padding-left 2%
			width 10%
			&:before
				margin-right 0
	.noticias
		.item_noticias
			display inline-block
			// min-height 15.5em
			vertical-align top
			width 46%
			&:nth-child(2n)
				margin-right .7em
	.rslides
		margin 0 auto
		width 90%
			
// @media screen and (min-width: 720px)


@media screen and (min-width: 1000px)
	aside
		display inline-block
	body
		background dimgrey
		// background marron_oscuro
	header
		border-bottom none
		margin 0
		position relative
		padding 0
		box-shadow 0px 3px 8px rgba(0,0,0,.5)
		border-radius 0 0 20px 20px
		z-index 3
		.pensamiento
			display inline-block
			font-family 'Marck Script', cursive
			font-size 1.2em
			position absolute
			right 1em
			text-align right
			top .8em
			width 20em
		p
			margin 0
	html
		overflow-y scroll
	.button-menu
		display none
	.contenedor_principal
		margin 0 auto
		max-width 1032px
	.fb-like
		background white
		border-radius 5px
		margin .5em auto
		padding .5em .6em
		box-shadow 0px 0px 18px rgba(0,0,0,0.6)
	.interes
		margin .5em 1em
		font-size 1.5em
		.info
			width 18%
		.check
			width 28%
		.star
			width 18%
		.plus
			width 10%
	.logo_alcaldia
		padding-left .5em
	.menu
		background amarillo_oscuro
		// box-shadow 2px 2px 3px rgba(0,0,0,0.5)
		border-radius 0  0 20px 20px
		display block
		float none
		// margin .5em 0 0 0
		position static
		width 100%
		ul
			padding 0
			text-align center	
			li
				display inline-block
				margin 0 -.1em
				a
					border-bottom none
					color black
					font-size .8em
					padding 1em
					text-transform uppercase
					transition .3s
					&:hover
						background marron_claro
						box-shadow inset 1px 1px 7px rgba(0,0,0,.5)
						color white
						text-shadow 1px 1px 1px rgba(0,0,0,.5)
						transition .3s
					&:active
						transform scale(.9)
				.activo
					background marron_oscuro
					box-shadow inset 1px 1px 7px rgba(0,0,0,.5)
					color white
					text-shadow 1px 1px 1px rgba(0,0,0,.5)
	.noticias
		display inline-block
		vertical-align top
		width 61%
		.item_noticias
			display block
			width 97.5%
			&:nth-child(2n)
				margin-right 0
	.twitter_AlcdJimenez, .twitter_amigosconmatin
		border-radius 5px
		box-shadow 0px 0px 18px rgba(0,0,0,0.6)
	.slide
		z-index -3
		.rslides
			box-shadow none