<div id="catedra">
	<fieldset class="center-text">
{% if clases %}
		<div class="center-text">
			<select id="" class="list large" name="lstClase" required>
				<option value="">Seleccionar</option>
			{% for clase in clases %}
				<option value="{{clase.id}}">{{clase.catedra}} {{clase.nivel}} {{clase.seccion}}</option>
			{% endfor %}
			</select>
		</div>
		<fieldset class="transparente">
			<legend>Horario</legend>
			<div id="horarios"></div>
		</fieldset>
	</fieldset>
	<div>
		<button class="boton-on" id="asignarCatedra">Asignar</button>
	</div>
{% else %}
		<p>No hay clase para asignar</p>	
	</fieldset>
{% endif %}
</div>
<script>
	var $clase = $('select[name=lstClase]'),
			$horarios = $('#horarios')
	
	$clase.on('change', buscarHorario)

	$('#asignarCatedra').on('click', function(e) {
		e.preventDefault()
		if ($clase.val() != "") {
			var datos = {
				alumno: $('#hdnId').val(),
				clase: $clase.val(),
				catedra: $horarios.attr('data-catedra')
			}
			console.log(datos)
			$.post('asignar-catedra/', datos, function(data, textStatus, xhr) {
				if (data.choque) {
					alertify.log('¡Choque de Horarios!' +'<br>'+ 'Con: '+ data.clase)
				}else{
					if (data.estado == 0) {
						alertify.error("¡Error al asignar catedra!")
					}else if (data.estado == 1){
						alertify.success("¡Clase Asignada!")
					}else if (data.estado == 2){
						alertify.error("¡Clase ya asignada!")
					}else if (data.estado == 2.1){
						alertify.error("¡Catedra ya asignada!")
					}else if (data.estado == 3){
						alertify.log("¡No hay cupo!")
					}
				}
			})
		}else {
			alertify.log("¡Seleccione una opción!")
		}
	})

	function buscarHorario(e){
		$horarios.html('').attr('data-catedra', '')
		if ($clase.val()) {
			$.get('buscar-horario/' + $clase.val(), function(data) {
				$.each(data.horarios, function(i, valor) {
					$('<label class="label-mostrar block">').html(valor.dia +' <span class="gris_oscuro">de</span> '+ valor.inicio +' <span class="gris_oscuro">a</span> '+ valor.final).appendTo($horarios)
				})
				$horarios.attr('data-catedra', data.catedra)
			})
		}
	}
</script>