<section>
	<div>
		<label>Imprimir: </label>
		<button class="icon-pdf" id="imprimirAlumno"></button>
		<!--<label class="padding-left">Constancia de Trabajo: </label>
		<button class="icon-pdf" id="imprimirConstancia"></button>-->
		<input type="hidden" id="hdnId" value="{{profesor.id}}">
	</div>
	<div class="inline-block align-top align-lef">
		<div class="align-top">
			<fieldset class="block">
				<legend>Datos</legend>
				<section class="inline-block">
					<div>
						<label>Nombres:</label>
						<label class="label-mostrar">{{profesor.nombres}}</label>
					</div>
					<div>
						<label>Cédula:</label>
						<label class="label-mostrar">{{profesor.cedula}}</label>
					</div>
				</section>
				<section class="inline-block align-top padding-left">
					<div>
						<label>Apellidos:</label>
						<label class="label-mostrar">{{profesor.apellidos}}</label>
					</div>
					<div>
						<label>Estado:</label>
					{% if profesor %}		
						{% if profesor.activo == True %}
							<label class="label-mostrar">Activo</label>
						{% else %}
							<label class="label-mostrar">Inactivo</label>
						{% endif %}
					{% endif %}
					</div>
				</section>
			</fieldset>
		</div>
		<div class="align-top">
			<fieldset class="block center-text">
				<legend>Individuales</legend>
			{% if instrumentos %}
				<fieldset class="transparente center-text">
					<legend>Alumnos</legend>
				{% for profesor in instrumentos %}
					<div>
						<label class="label-mostrar">{{profesor.alumno}}</label>
					</div>
				{% endfor %}
				</fieldset>
				<fieldset class="transparente center-text">
					<legend>Instrumento</legend>
				{% for profesor in instrumentos %}
					<div>
						<label class="label-mostrar">{{profesor.instrumento}}</label>
					</div>
				{% endfor %}
				</fieldset>
				<fieldset class="transparente center-text">
					<legend>Nivel</legend>
				{% for profesor in instrumentos %}
					<div>
						<label class="label-mostrar">{{profesor.nivel}}</label>
					</div>
				{% endfor %}
				</fieldset>
			{% else %}
				<p>No se ha asignado como profesor de ningun instrumento</p>
			{% endif %}
			</fieldset>
		</div>
	</div>
	<div class="inline-block align-left">
		<div class="align-top">
			<fieldset class="block center-text">
				<legend>Actividades</legend>
			{% if actividades %}
				<fieldset class="transparente align-left">
					<legend>Actividad</legend>
				{% for profesor in actividades %}
					<div>
						<label>{{profesor.actividad.tipo}} {{profesor.actividad.nombre}}</label>
					</div>
				{% endfor %}
				</fieldset>
				<fieldset class="transparente center-text min">
					<legend>Cargo</legend>
				{% for profesor in actividades %}
					<div>
						<label class="label-mostrar">{{profesor.cargo}}</label>
					</div>
				{% endfor %}
				</fieldset>
			{% else %}
				<p>No se ha designado a ninguna actividad</p>
			{% endif %}
			</fieldset>
		</div>
		<div class="align-top">
			<fieldset class="block">
				<legend>Clases</legend>
			{% if clases %}
				<table>
					<tr>
						<th class="verde_oscuro center-text">Clase</th>
						<th class="verde_oscuro center-text">Horarios</th>
					</tr>
				{% for alumno in clases %}
					<tr class="border-bottom">
						<td><label class="label-mostrar">{{alumno.clase}}</label></td>
						<td class="center-text">
					{% if alumno.horarios %}
						{% for horario in alumno.horarios %}
								<label class="label-mostrar block">{{horario.dia}} <span class="gris_oscuro"> de </span>{{horario.inicio}}<span class="gris_oscuro"> a </span>{{horario.final}}</label>
						{% endfor %}
					{% else %}
						<span class="gris_oscuro">No asignano aún</span>
					{% endif %}
						</td>
					</tr>
				{% endfor %}
				</table>
			{% else %}
				<p class="center-text">No se ha asignado a ninguna clase</p>
			{% endif %}
			</fieldset>
		</div>
	</div>
</section>
<script>
	$('#imprimirProfesor').on('click', function(e) {
		e.preventDefault()
		$id = $('#hdnId').val()
		try{
			window.open('imprimir/'+ $id, '_blank')
			return false
		}catch(err){
			alertify.error("¡Error al procesar su solicitud!")
		}
	})
</script>